{% block body %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.id }}</td>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.quantity }}</td>
                    <td>{{ purchase.status.value }}</td>
                    <td><a href="{{ path('app.purchase.details', {'id': purchase.id}) }}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
